* {
    margin: 0px;
    padding: 0px;
}
html {
    box-sizing: border-box;
    }
    
    *,
    *::before,
    *::after {
    box-sizing: inherit;
}
body {
    font-family: 'Montserrat';
}
li {
    list-style: none;
}
.link {
    display: block;
    text-decoration: none;
}
.container {
    position: relative;
    width: 100%;
    max-width: 1350px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    box-sizing: border-box;
}
.header {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.header-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 38px;
}
.header-inner__logo {
   align-items: flex-start;
    font-size: 30px;
    line-height: 1;
    color: #fff;
    font-weight: 700;
}
.header-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}
.header-list__item {
    margin-right: 35px;
}
.header-list__item:last-child {
    margin-right: 0;
}
.header-list__link {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase; 
}

.header-list__link:hover {
    color:#fce38a;
    transition: 200ms;
}
.header-list__link::after, .header-list__link--icon::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    margin: 12px 0 0;
    background-color: transparent;
}
.header-list__link:hover::after, .header-list__link--icon:hover:after {
    background-color: #fce38a;
    transition: 200ms;

}
/* start info section */
.info {
    min-height: 100vh;
    /* padding: 229px 0 231px; */
    background-image: url(../img/eagle.jpg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    
}
.info-wrap {
    width: 100%;
    min-height: 100vh;
    /* height: 100%; */
    padding: 229px 0 231px;
    background-image: linear-gradient(to bottom,rgb(239, 138, 138, 0.9),rgb(241, 214, 138, 0.9));
}

.info-container {
    max-width: 860px;
    margin: 0 auto;
}
.info-container__text {
    text-align: center;
    font-family: 'Kaushan Script';
    font-size: 72px;
    line-height: 1.2;
    margin: 0 auto 42px;
    color: #fff;
} 
.info-container__title {
    max-width: 860px;
    margin: 0 auto 125px;
    text-align: center;
    font-size: 150px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1.2;
}

.info-container__button-wrap {
    text-align: center;
}
.info-container__button {
    display: inline-block;
    padding: 15px 33px;
    border: 2px solid #fff;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    color: #fff;

}

/* start 1 section */
.sc {
    padding-top: 45px;
    padding-bottom: 81px;
}
.services {
    max-width: 1150px;
    margin: 0 auto;
    padding-bottom: 92px;
    /* background-color: #f38181; */
}

.sub-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 22px;
    font-family: 'Kaushan Script', cursive;
    color: #333333;
    text-transform: none;
    font-weight: 500;
}
.title {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 30px;
    color: #333333;
    font-weight: 700;
    line-height: 1.7;
}
.title::after {
    content: '';
    display: block;
    width: 61px;
    height: 4px;
    margin: 40px auto 65px;
    background-color: #f38181;
}
.services__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.services__item {
    width: 330px;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
}
.services__item:nth-child(-n+3) {
    margin-bottom: 100px;
}
.services__icon::before {
    content: '';
    display: block;
    width: 33px;
    height: 33px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.services__icon--clock::before {
    background-image: url(../img/img1.png);
   
}
.services__icon--graphic::before {
    background-image: url(../img/img2.png);
   
}
.services__icon--monitor::before {
    background-image: url(../img/img3.png);
   
}
.services__icon--book::before {
    background-image: url(../img/img4.png);
   
}
.services__icon--home::before {
    background-image: url(../img/img5.png);

}
.services__icon--square::before {
    background-image: url(../img/img6.png);
   
}
.services__item-title {
    color: #333333;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 29px;
}
.services__item-text {
    color: #999999;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin-left: 61px;
    line-height: 1.3;   
}

/* start 2nd section */

.team {
    max-width: 1575px;
    margin: auto;

}
.team__info {
    width: 941px;
    height: 39px;
    margin: 0 auto 90px;
}
.team__text {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #999999;
    text-align: center;
}
.team__list {
    display: flex;
    justify-content: space-between;
}
.team__member {
    width: 381px;
}
.team__member:hover .team__avatar {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px  #95e1d3;
    transition: 200ms;
}
.team__avatar {
    position: relative;
    box-shadow: 0 0  #95e1d3;
    transition: 200ms;
}
.team__avatar-img {
    display: block;
    /* width: 100%; */
}
.team__networks-wrap {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-image: linear-gradient(to bottom,rgb(239, 138, 138, 0.9),rgb(241, 214, 138, 0.9));
}
.team__networks-wrap:hover {
    opacity: 1;
    transition: 200ms;
}
.team__networks-list {
    display: flex;
    max-width: 90%;
}

.team__networks-item {
    margin-right: 1px;
}

.team__networks-item:last-child {
    margin-right: 0;
}
.team__networks-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fce38a;
    width: 57px;
    height: 57px;
    margin: auto;
}
.team__networks-link:hover {
    background-color: #f38181;
    transition: 200ms;
}
.team__networks-icon {
    display: inline-block;
    width: 27px;
    height: 27px;
    fill: #f38181;
}
.team__networks-icon:hover {
    fill: #fff;
    transition: 200ms;
}
.team__member-name {
    font-size: 14px;
    color: #333333;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    padding-top: 31px;
    text-align: center;
}
.team__member-about {
    font-family: 'Roboto', sans-serif;
    color: #999999;
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
    padding-top: 15px;
    font-style: italic;
}

/* footer start */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 54px;
    margin: 0 auto 0;
    border-top: 2px solid #e5e5e5;
}
.footer__text {
    font-size: 14px;
    color: #333333;
}
.footer__text-color {
    color: #f6a6a6;
}
.footer__form {
    width: 382px;
    height: 43px;
    display: flex;
}
.footer__form-text {
    width: 231px;
    height: 39px;
    padding: 0 10px;
    border: 1px solid #e7e7e7;
}
.footer__form-text::placeholder {
    font-style: italic;
}
.footer__button {
    width: 151px;
    height: 41px;
    background-color: #95e1d3;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border: none;
    cursor: pointer;
}
   /* MEDIA */
   @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .info {
        background-image: url(../img/eagle@2x.jpg);
    }
    .services__icon--clock::before {
        background-image: url(../img/img1@2x.png);
       
    }
    .services__icon--graphic::before {
        background-image: url(../img/img2@2x.png);
       
    }
    .services__icon--monitor::before {
        background-image: url(../img/img3@2x.png);
       
    }
    .services__icon--book::before {
        background-image: url(../img/img4@2x.png);
       
    }
    .services__icon--home::before {
        background-image: url(../img/img5@2x.png);
    
    }
    .services__icon--square::before {
        background-image: url(../img/img6@2x.png);
       
    }
   }