
* {
    margin: 0;
    padding: 0;
}
.header {
padding-top: 77px;
padding-bottom: 75px;
}
.header__nav-list {
    list-style: none;
    text-align: center;
    font-size: 0px;
}
/* з цим працює(брав з відео) */
.header__nav-list li {
    display: inline-block;
    font-size: 14px;
    padding: 5px 40px;
    /* padding-bottom: 102px;
    padding-top: 77px; */
    /* margin-bottom: 77px; */
}
.header__nav-list li:not(:last-child){
    margin-right: 40px;
}

/* з цим не працює(робили на парі) */
/* .header__nav-item {
    display: inline-block;
    font-size: 16;
    padding: 5px 40px;
} */
.header__nav-link {
    color: #626262;
    font-size: 14px;
    text-transform: uppercase; 
    text-decoration: none;
}
.header__nav-link:hover {
    color:#03a9f4;
}
.container {
    width: 903px;
    margin: 0 auto;
    font-size: 0;
}
.article {
    width: 421px;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    margin-right: 61px;
    font-size: 14px;
    margin-bottom: 98px;
}
.article:nth-child(2n) {
    margin-right: 0px;
}
.article h2 {
    margin-bottom: 26px;
    font-size: 30px;
    color: #626262;
}
.article img {
    margin-bottom: 23px;
}
.article1 {
    width: 421px;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    margin-right: 61px;
    font-size: 14px;
    margin-bottom: 17px;
}
.article1:nth-child(2n) {
    margin-right: 0px;
}
.article1 h2 {
    margin-bottom: 26px;
    font-size: 30px;
    color: #626262;
}
.article1 img {
    margin-bottom: 23px;
}
.paragraph {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 21px;
    color: #b4ad9e;
}
.paragraph2 {
    /* margin-bottom: 98px; */
    color: #626262;
}
.paragraph3 {
    color: #626262;
    margin-bottom: 0px;
}
/* .button {
    border: 1px solid #626262;
    margin: 0px;
    padding: 17px 26px;
    background-color: white;
    font-size: 20px;
    color: #626262;
    cursor: pointer;
    margin-right: 325px;
    margin-left: 355px;
    margin-top: 40px;
    margin-bottom: 53px;
    width: 165px;
    height: 61px;
} */
/* .btn-wrap {
    text-align: center;
    padding: 10px 0px 30px;
} */
.div {
    padding-bottom: 70px;
    padding-top: 53px;
}
.btn {   
    display: block;
    padding: 22px 34px;
    border: 1px solid #626262;
    color: #626262;
    font-size: 20px;
    font-family: serif;
    margin: 0 auto;
    /* padding-top: 22px;
    padding-bottom: 34px; */
    /* margin-bottom: 23px;
    margin-top: 17px; */

}      
